/* Theme definitions */
#rikaikun-shadow[data-theme='blue'] {
  --primary-color: #fff;
  --primary-background-color: #5c73b8;
  --kanji-color: #b7e7ff;
  --kana-color: #c0ffc0;
  --kanji-readings-highlight-color: #a0d0ff;
  --conjugation-color: #ffe0a0;
  --title-background-color: #4c63a8;
  --data-background-color: #5a70b5;
  --data-background-alternate-color: #4c63a8;
  --data-color: #fff;
  --data-alternate-color: #b7e7ff;
}

#rikaikun-shadow[data-theme='lightblue'] {
  --primary-color: #000;
  --primary-background-color: #e6f4ff;
  --kanji-color: #3082bf;
  --kana-color: #00b366;
  --kanji-readings-highlight-color: #00868b;
  --conjugation-color: #808080;
  --title-background-color: #bfe4ff;
  --data-background-color: #dff1ff;
  --data-background-alternate-color: #fff;
  --data-color: #003d6b;
  --data-alternate-color: #003d6b;
}

#rikaikun-shadow[data-theme='black'] {
  --primary-color: #fff;
  --primary-background-color: #000;
  --kanji-color: #7070e0;
  --kana-color: #20a020;
  --kanji-readings-highlight-color: #7070e0;
  --conjugation-color: #a0a0a0;
  --title-background-color: #303030;
  --data-background-color: #505050;
  --data-background-alternate-color: #303030;
  --data-color: #e0e0e0;
  --data-alternate-color: #f0f0f0;
}

#rikaikun-shadow[data-theme='yellow'] {
  --primary-color: #000;
  --primary-background-color: #ffffbf;
  --kanji-color: #7070e0;
  --kana-color: #20a020;
  --kanji-readings-highlight-color: #cd5c5c;
  --conjugation-color: #a0a0a0;
  --title-background-color: #f0f0b0;
  --data-background-color: #ffffe6;
  --data-background-alternate-color: #f7f7d0;
  --data-color: #000;
  --data-alternate-color: #000;
}

/* End theme definitions */

/* In quirks mode, table color is reset to black as per Chrome so reset
   it to inherit properly here. */
table {
  color: inherit;
}

/* Need duplicate selector for gracefully handling reset. */
/* stylelint-disable-next-line no-duplicate-selectors */
#rikaikun-shadow {
  all: initial;
  background: var(--primary-background-color);
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  color: var(--primary-color);
  font: normal 14px sans-serif;
  left: 5px;
  min-width: 100px;
  padding: 4px;
  position: absolute;
  top: 5px;
  writing-mode: horizontal-tb;
  z-index: 99992;
}

/* used for word definitions */

.w-kanji {
  color: var(--kanji-color);
  font-size: 18px;
  margin-right: 0.7em;
}

.w-kana {
  color: var(--kana-color);
  font-size: 18px;
}

.w-conj {
  color: var(--conjugation-color);
  font-size: 12px;
}

.w-def {
  font-size: 13px;
}

.w-title {
  background: var(--title-background-color);
  color: var(--primary-color);
  font-size: 10px;
  padding: 2px;
}

.w-na-tb td {
  padding-right: 0.8em;
  vertical-align: top;
}

/* used for kanji information */

.k-main-tb {
  width: 300px;
}

.k-kanji {
  color: var(--kanji-color);
  font-family: serif;
  font-size: 48px;
}

.k-eigo {
  font-size: 12px;
}

/* kanji: readings */

.k-yomi {
  color: var(--kana-color);
  font-size: 14px;
  margin: 4px 0;
}

.k-yomi-hi {
  border: 1px solid red;
  color: var(--kanji-readings-highlight-color);
}

.k-yomi-no-hi {
  color: var(--kanji-readings-highlight-color);
}

.k-yomi-ti {
  color: var(--primary-color);
  font-size: 11px;
}

/* kanji radical, grade, freq, strokes box */

.k-abox-tb {
  clear: right;
  float: right;
  margin-bottom: 4px;
  width: 120px;
}

.k-abox-r,
.k-abox-s {
  background: var(--data-background-color);
  color: var(--data-color);
  font-size: 12px;
  padding: 1px 4px;
  text-align: center;
}

.k-abox-g,
.k-abox-f {
  background: var(--data-background-alternate-color);
  color: var(--data-alternate-color);
  font-size: 12px;
  padding: 1px 4px;
  text-align: center;
}

/* kanji components box */

.k-bbox-tb {
  clear: right;
  float: right;
  margin-bottom: 4px;
  width: 120px;
}

/* Two sets of colors for separating rows */
.k-bbox-0a,
.k-bbox-0b {
  background: var(--data-background-color);
  color: var(--data-color);
  font-size: 11px;
  padding: 1px 3px;
  vertical-align: top;
}

.k-bbox-1a,
.k-bbox-1b {
  background: var(--data-background-alternate-color);
  color: var(--data-alternate-color);
  font-size: 11px;
  padding: 1px 3px;
  vertical-align: top;
}

/* kanji: misc index */

.k-mix-tb {
  width: 100%;
}

.k-mix-td0 {
  background: var(--data-background-color);
  color: var(--data-color);
  font-size: 12px;
}

.k-mix-td1 {
  background: var(--data-background-alternate-color);
  color: var(--data-alternate-color);
  font-size: 12px;
}

.small-info {
  font: small-caption;
}
